# A Travis CI configuration file.

sudo: required

language: scala
scala:
   - 2.11.6

services:
  - docker

env:
  global:
    - TERM=dumb

notifications:
  email: false

install: true

before_install:
  - openssl aes-256-cbc -K $encrypted_2ba972d2bb26_key -iv $encrypted_2ba972d2bb26_iv -in tests/credentials.json.enc -out tests/credentials.json -d
  - git clone https://github.com/openwhisk/openwhisk.git
  - cd openwhisk
  - ./tools/travis/setup.sh

script:
- ../tools/travis/build.sh
